﻿@model events.tac.local.Models.OverviewList

				<!-- [Category List] -->
<ul class="block-grid-md-4 block-grid-sm-3 block-grid-xs-1">
    @foreach (var overviewItem in Model)
    {
    <li>
        <div class="thumbnail">
            <a href="@overviewItem.Url">
                <img src="@overviewItem.Image" class="img-responsive" alt="@overviewItem.Title" width="500" height="333" />
            </a>
            <div class="caption">
                <h3 class="teaser-heading">@overviewItem.Title</h3>
                <a href="@overviewItem.Url" class="btn btn-default">Read more</a>
            </div>
        </div>
    </li>
    }
</ul>
<!-- [Category List] -->
