﻿@model events.tac.local.Models.FeaturedEvent

<div class="col-sm-4">
    <div class="thumbnail well @Model.CssClass">
        <a href=@Model.URL>
            @Model.EventImage
        </a>
        <div class="caption">
            <h3 class="teaser-heading">@Model.Heading</h3>
            <p>
                @Model.Intro
            </p>
            <a href="Event-Detail.html" class="btn btn-default">Read more</a>
        </div>
    </div>
</div>
