﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Importer/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(false)

        <div>
            @Html.Label("File")
            @Html.TextBox("file", "", new { type = "file" })
        </div>

        <div>
            @Html.Label("Parent Path")
            @Html.TextBox("parentPath", "/sitecore/content/home")
        </div>

        <div class="form-group">
            <input type="submit" value="Import" class="btn btn-default" />
        </div>
    </div>
}
