﻿<!-- [Comments Form] -->
<div>
    @using (Html.BeginForm())
    {
        <div>
            <input type="text" class="form-control" placeholder="Name" name="email">
            <input type="text" class="form-control" placeholder="Add your comment here" name="comment">
        </div>
        <input type="submit" class="btn btn-default" value="Submit Comment">
    }
</div>
<!-- [/Comments Form] -->
