﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<hr />
<!-- [Comments List] -->
<div class="comments">
    <h4>What others have to say</h4>
    <div><strong>John</strong> &mdash; 05 Feb 2016</div>
    <blockquote>Fantastic hike, I did it in 2014, I can't wait to do it again!</blockquote>
    <div><strong>Kerry</strong> &mdash; 06 Feb 2016</div>
    <blockquote>It is too long, and not really worth it.</blockquote>
</div>
<!-- [/Comments List] -->
